<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
  		<h2 class="sub-header"><a href="#" id="header" th:text="#{blog.title}"></a></h2>
       	<form id="blogEditForm" enctype="multipart/form-data">
       	  <div class="form-group row">
		    <label for="name" class="col-sm-2 col-form-label" th:text="#{blog.name}"></label>
		    <div class="nopadding col-sm-6">
		    	<input type="text" class="form-control" id="name" name="name" th:attr="placeholder=#{blog.name.placeHolder}" th:value="${blog.name}"/>
		    	<input type="hidden" name="id" th:value="${blog.id}"/>
		    </div>
		    <div class="col-sm-4">
		    	<span></span>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="header" class="col-sm-2 col-form-label" th:text="#{blog.headerType}"></label>
		    <div class="nopadding col-sm-6">
		    	<select class="form-control" id="headerType" name="headerType">
				  <option value="h1" th:selected="${blog.headerType eq 'h1'}" th:text="#{blog.headerType.h1}"></option>
				  <option value="h2" th:selected="${blog.headerType eq 'h2'}" th:text="#{blog.headerType.h2}"></option>
				  <option value="h3" th:selected="${blog.headerType eq 'h3'}" th:text="#{blog.headerType.h3}"></option>
				  <option value="h4" th:selected="${blog.headerType eq 'h4'}" th:text="#{blog.headerType.h4}"></option>
				  <option value="h5" th:selected="${blog.headerType eq 'h5'}" th:text="#{blog.headerType.h5}"></option>
				</select>
		    </div>
		    <div class="col-sm-4">
		    	<span></span>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="header" class="col-sm-2 col-form-label" th:text="#{blog.header}"></label>
		    <div class="nopadding col-sm-6">
		    	<input type="text" class="form-control" id="header" name="header" th:attr="placeholder=#{blog.header.placeHolder}" th:value="${blog.header}"/>
		    </div>
		    <div class="col-sm-4">
		    	<span></span>
		    </div>
		  </div>
		  <div class="form-group row">
		  	<label for="postTime" class="col-sm-2 col-form-label" th:text="#{blog.postTime}"></label>
            <div class='input-group date col-sm-6' id='datetimepickerPostTime'>
               	<input type="text" class="form-control" id="postTime" name="postTime" th:attr="placeholder=#{blog.postTime.placeHolder}" th:value="${blog.postTime}"/>
                <span class="input-group-addon">
                	<span class="glyphicon glyphicon-remove"></span> | 
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class="col-sm-4">
		    	<span></span>
		    </div>
          </div>
		  <div class="form-group row">
		    <label for="authorId" class="col-sm-2 col-form-label" th:text="#{blog.authorId}"></label>
		    <div class="input-group col-sm-6">
		    	<input type="text" class="form-control" id="authorId" name="authorId" th:attr="placeholder=#{blog.authorId.placeHolder}"  th:value="${blog.authorId}"/>
		    	<span class="input-group-addon">
                    <span class="glyphicon glyphicon-th pop-picker"></span>
                </span>
		    </div>
		    <div class="col-sm-4">
		    	<span></span>
		    </div>
		  </div>
		  <br/>
		  <div class="form-group row">
		  	<label for="cssClass" class="col-sm-2 col-form-label" th:text="#{blog.content}"></label>
		  	<div class="nopadding col-sm-6">
	  		    <textarea id="content" name ="content" class="form-control" rows="20" th:attr="placeholder=#{blog.content.placeHolder}" th:text="${blog.content}"></textarea>
		  	</div>
		  	<div class="col-sm-4">
		    	<span></span>
		    </div>
		  </div>
          <div class="row">
			    <div class="col-sm-3 col-sm-offset-5">
			    	<button id="submit" type="submit" class="btn btn-primary glyphicon glyphicon-ok black" th:inline="text"> [[#{common.submit}]]</button>
		  			<button type="reset" class="btn btn-primary glyphicon glyphicon-repeat" th:inline="text"> [[#{common.reset}]]</button>
		  			<button id="goBack" type="button" class="btn btn-primary glyphicon glyphicon-share-alt" th:inline="text"> [[#{common.goBack}]]</button>
			    </div>
			</div>
		</form>
        <br/>
  </body>
  	<script type="text/javascript" th:inline="javascript">
  	var inputIdFunctionMap = {
  			'authorId':'14'
  	}
  	$(function () {
  		Shaunz.preparePopChooseBox(inputIdFunctionMap);
  		var resLocale = (navigator.language||navigator.userLanguage).toLowerCase();
        var fromDatePicker = $('#datetimepickerPostTime').datetimepicker({
        	language: resLocale,
        	format: "yyyy-mm-dd hh:ii:00",
        	autoclose: true,
        	todayBtn: true,
        	todayHighlight: true,
        	showMeridian: true
        });
  		$('#content').wysihtml5();
        $('#blogEditForm').validate({
        	debug: false,
        	onfocusout: false,
        	rules: {
				name: {
					maxlength: 100
				},
				header: {
					maxlength: 50
				}
			},
			messages: {
				name: {
					required: [[#{validation.button.name.required}]],
					minlength: [[#{validation.button.name.minlength(${2})}]],
					maxlength: [[#{validation.button.name.minlength(${100})}]]
				},
				header: [[#{validation.button.cssclass.required}]]
			},
			errorPlacement: function(error, element) {
				var nextElement = element.parent().parent().find(".col-sm-4").find("span");
			    error.addClass("text-danger").insertAfter(nextElement);
			},
			submitHandler:function(form){
				Shaunz.submitForm(form,'./blog','PUT');
			}
  		});
        
        $('#goBack').click(function(){
        	Shaunz.load('./blog/blog_lst.html');
        });
        $('#header').click(function(){
        	Shaunz.load('./blog/blog_lst.html');
        });
    });
	</script>
</html>
