<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
  		<h2 class="sub-header" th:inline="text">[[#{user.grant.title}]]: [[${carousel.name}]]</h2>
		<form id="blogRelateForm">
			<div class="form-group row">
		    <label for="name" class="col-sm-2 col-form-label" th:text="#{user.grant.roleIds}"></label>
		    <div class="input-group col-sm-6">
		    	<input type="text" class="form-control" id="blogIds" name="blogIds" th:value="${selectedBlogIds}"/>
		    	<input type="hidden" name="id" th:value="${carousel.id}"/>
		    </div>
		    <div class="col-sm-4">
		    	<span></span>
		    </div>
		  </div>
		      
		      <div class="row">
			    <div class="col-sm-3 col-sm-offset-5">
			    	<button id="submit" type="submit" class="btn btn-primary glyphicon glyphicon-ok black" th:inline="text"> [[#{common.submit}]]</button>
		  			<button id="setting" type="button" class="btn btn-primary glyphicon glyphicon-repeat" th:inline="text"> [[#{common.setting}]]</button>
		  			<button id="goBack" type="button" class="btn btn-primary glyphicon glyphicon-share-alt" th:inline="text"> [[#{common.goBack}]]</button>
			    </div>
			</div>
		</form>
        <br/>
        <div class="table-responsive">
			<h3 class="sub-header" th:text="#{user.grant.tableTitle}"></h3>
          <table id="table" class="table table-striped" style="width:100%">
          </table>
        </div>
  </body>
  	<script type="text/javascript" th:inline="javascript">
		var TableParam = {
				header:['#','name','header','Post Time','Author'],
				column:['id','name','header','postTime','authorId'],
				url:'./blog',
				httpType:'GET',
				target:'table',
				selectable:true,
				multiselect:true,
				relatedInput:'blogIds'
		};
		$(function(){
			Shaunz.generateTable(TableParam);
			$('#goBack').click(function(){
	        	Shaunz.load('./carousel/carousel_lst.html');
	        });
			$('#setting').click(function(){
				Shaunz.load('./blogmap/blog_order.html?pageId=${carousel.id}&pageType=tb_carousel');
			});
			
			$('#blogRelateForm').validate({
	        	debug: true,
	        	onfocusout: true,
	        	rules: {
	        		selectedRoleIds: {
						required: true
					}
				},
				messages: {
					loginName: {
						required: [[#{validation.user.grant.roleIds.required}]]
					}
				},
				errorPlacement: function(error, element) {
					var nextElement = element.parent().parent().find(".col-sm-4").find("span");
				    error.addClass("text-danger").insertAfter(nextElement);
				},
				submitHandler:function(form){
					Shaunz.submitForm(form,'./carousel/relate','POST');
				}
	  		});
		});
	</script>
</html>
