<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="https://www.pollix.at/thymeleaf/shiro">
  <body>
  		<h2 class="sub-header" th:inline="text">[[#{user.grant.title}]]: <a href="#" id="userDetail">[[${user.aliasNm}]]</a></h2>
		<form id="roleGrantForm">
			<div class="form-group row">
		    <label for="name" class="col-sm-2 col-form-label" th:text="#{user.grant.roleIds}"></label>
		    <div class="input-group col-sm-6">
		    	<input type="text" class="form-control" id="roleIds" name="roleIds" th:value="${selectedRoleIds}" readonly="true"/>
		    	<input type="hidden" name="id" th:value="${user.id}"/>
		    </div>
		    <div class="col-sm-4">
		    	<span></span>
		    </div>
		  </div>
		      
		      <div class="row">
			    <div class="col-sm-3 col-sm-offset-5">
			    	<button id="submit" type="submit" class="btn btn-primary glyphicon glyphicon-ok black" th:text="' ' + #{common.submit}"></button>
		  			<button id="goBack" type="button" class="btn btn-primary glyphicon glyphicon-share-alt" th:text="' ' + #{common.goBack}"></button>
			    </div>
			</div>
		</form>
        <br/>
        <div class="table-responsive">
			<h3 class="sub-header" th:text="#{user.grant.tableTitle}"></h3>
          <table id="table" class="table table-striped" style="width:100%">
          </table>
        </div>
  </body>
  	<script type="text/javascript" th:inline="javascript">
		var TableParam = {
				header:['#','[[#{role.name}]]','[[#{role.parentId}]]','[[#{role.startTime}]]','[[#{role.endTime}]]'],
				column:['id','name','parentId','startTime','endTime'],
				url:'./role',
				httpType:'GET',
				target:'table',
				needOpration:false,
				selectable:true,
				multiselect:true,
				relatedInput:'roleIds'
		};
		$(function(){
			Shaunz.generateTable(TableParam);
			$('#goBack').click(function(){
	        	Shaunz.load('./mngpages/account_lst.html');
	        });
			$('#userDetail').click(function(){
				Shaunz.showDetail('2',[[${user.id}]]);
			});
			
			$('#roleGrantForm').validate({
	        	debug: true,
	        	onfocusout: true,
	        	rules: {
	        		selectedRoleIds: {
						required: true
					}
				},
				messages: {
					loginName: {
						required: [[#{validation.user.grant.roleIds.required}]]
					}
				},
				errorPlacement: function(error, element) {
					var nextElement = element.parent().parent().find(".col-sm-4").find("span");
				    error.addClass("text-danger").insertAfter(nextElement);
				},
				submitHandler:function(form){
					Shaunz.submitForm(form,'./user/grant','POST');
				}
	  		});
		});
	</script>
</html>
