<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="https://www.pollix.at/thymeleaf/shiro">
	<body>
		<div class="row">
	          <table class="table">
	            <thead>
	              <tr>
	                <th th:text="#{common.FieldName}"></th>
	                <th th:text="#{common.value}"></th>
	              </tr>
	            </thead>
	            <tbody id='detailPage'>
	            </tbody>
	          </table>
		</div>
	</body>
	<script type="text/javascript" th:inline="javascript">
		$(function(){
			$.ajax({
				url:'./object/'+[[${functionId}]]+'/'+[[${objId}]],
				type:'GET',
				success:function(data,status){
					var result = jQuery.parseJSON(data);
					var length = 0;
					var tbodyHtml = '';
					$.each(result,function(name,value){
						length++;
						var html = '';
						//if(length%2 != 0){
							html += '<tr>';
						//}
						html += ('<td>'+jQuery.i18n.prop('dbField.'+name)+'</td>');
						html += ('<td style="word-wrap:break-word;word-break:break-all">'+value+'</td>');
						//if(length%2 == 0){
							html += '</tr>';
						//}
						tbodyHtml += html;
					});
					$('#detailPage').html(tbodyHtml);
				},
				error:function(e){
					Shaunz.showError('Error',e);
				}
			});
		});
	</script>
</html>