<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="https://www.pollix.at/thymeleaf/shiro">
  <body>
  		<h2 class="sub-header" th:inline="text">[[#{user.grant.title}]]: [[${role.name}]]</h2>
  		<div class="row">
  		<form id="roleGrantForm">
  			<input type="hidden" th:value="${role.id}" name="id"/>
  			<div class="row">
			    <div class="col-sm-12">
			    	<button id="submit" type="submit" class="btn btn-primary glyphicon glyphicon-ok black" th:inline="text"> [[#{common.submit}]]</button>
			    	<button type="reset" class="btn btn-primary glyphicon glyphicon-repeat" th:inline="text"> [[#{common.reset}]]</button>
		  			<button id="setting" type="button" class="btn btn-primary glyphicon glyphicon-repeat" th:inline="text"> [[#{common.setting}]]</button>
		  			<button id="goBack" type="button" class="btn btn-primary glyphicon glyphicon-share-alt" th:inline="text"> [[#{common.goBack}]]</button>
			    </div>
			</div>
			<br/>
	          <table class="table table-bordered">
	            <thead>
	              <tr>
	                <th>#</th>
	                <th>Function Name</th>
	                <th>Query</th>
	                <th>Add</th>
	                <th>Edit</th>
	                <th>Delete</th>
	              </tr>
	            </thead>
	            <tbody>
	            <th:block th:each="function : ${functions}">
		            <tr>
		            	<td th:text="${function.id}"></td>
	            		<th:block th:if="${function.grantedAuthority != null}">
	            			<td><input type="checkbox" th:id="${function.id}" th:name="${function.id}" th:value="${function.id}" checked="checked" th:text="${function.name}"/></td>
            				<td><input type="checkbox" th:id="${function.id+'_query'}" th:name="${function.id+'_query'}" th:value="${function.id+'_query'}" th:checked="${#lists.contains(function.grantedAuthority,'4')}"/></td>
		            		<td><input type="checkbox" th:id="${function.id+'_add'}" th:name="${function.id+'_add'}" th:value="${function.id+'_add'}" th:checked="${#lists.contains(function.grantedAuthority,'1')}"/></td>
		            		<td><input type="checkbox" th:id="${function.id+'_update'}" th:name="${function.id+'_update'}" th:value="${function.id+'_update'}" th:checked="${#lists.contains(function.grantedAuthority,'3')}"/></td>
		            		<td><input type="checkbox" th:id="${function.id+'_delete'}" th:name="${function.id+'_delete'}" th:value="${function.id+'_delete'}" th:checked="${#lists.contains(function.grantedAuthority,'2')}"/></td>
            			</th:block>
	            		<th:block th:unless="${function.grantedAuthority !=null}">
	            			<td><input type="checkbox" th:id="${function.id}" th:name="${function.id}" th:value="${function.id}" th:text="${function.name}"/></td>
			            	<td><input type="checkbox" th:id="${function.id+'_query'}" th:name="${function.id+'_query'}" th:value="${function.id+'_query'}" /></td>
			            	<td><input type="checkbox" th:id="${function.id+'_add'}" th:name="${function.id+'_add'}" th:value="${function.id+'_add'}" /></td>
			            	<td><input type="checkbox" th:id="${function.id+'_update'}" th:name="${function.id+'_update'}" th:value="${function.id+'_update'}" /></td>
			            	<td><input type="checkbox" th:id="${function.id+'_delete'}" th:name="${function.id+'_delete'}" th:value="${function.id+'_delete'}" /></td>
	            		</th:block>
	            	</tr>
	            </th:block>
	            </tbody>
	          </table>
          </form>
		</div>
  </body>
  	<script type="text/javascript" >
		$(function(){
			$('#roleGrantForm :checkbox').change(function() {
				var id = $(this).attr('id');
				var parentCheckBox = id.indexOf('_')<0;
			    if (this.checked) {
			        if(parentCheckBox){
			        	$('#'+id+"_query").prop( "checked", true );
		  				$('#'+id+"_add").prop( "checked", true );
		  				$('#'+id+"_update").prop( "checked", true );
		  				$('#'+id+"_delete").prop( "checked", true );
			        } else {
			        	var parentId = id.split('_')[0];
			        	$('#'+parentId).prop( "checked", true );
			        }
			        
			    } else {
			    	if(parentCheckBox){
			    		$('#'+id+"_query").prop( "checked", false );
		  				$('#'+id+"_add").prop( "checked", false );
		  				$('#'+id+"_update").prop( "checked", false );
		  				$('#'+id+"_delete").prop( "checked", false );
			    	} else {
			    		var parentId = id.split('_')[0];
			    		if(($('#'+parentId+"_query").is(':checked'))
		  						||($('#'+parentId+"_add").is(':checked'))
		  						||($('#'+parentId+"_update").is(':checked'))
		  						||($('#'+parentId+"_delete").is(':checked'))){
			    			$('#'+parentId).prop( "checked", true );
		  				} else {
		  					$('#'+parentId).prop( "checked", false );
		  				}
			    	}
			    }
			});
			
			$('#roleGrantForm').validate({
	        	debug: true,
	        	onfocusout: true,
	        	rules: {
				},
				messages: {
				},
				errorPlacement: function(error, element) {
					var nextElement = element.parent().parent().find(".col-sm-4").find("span");
				    error.addClass("text-danger").insertAfter(nextElement);
				},
				submitHandler:function(form){
					Shaunz.submitForm(form,'./role/grant','POST');
				}
	  		});
			$('#goBack').click(function(){
	        	Shaunz.load('./mngpages/role_lst.html');
	        });
		});
	</script>
</html>
