<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
  		<h2 class="sub-header" ><a href="#" id="header" th:text="#{button.title}"></a></h2>
       	<form id="buttonEditForm" enctype="multipart/form-data">
       	  <div class="form-group row">
		    <label for="name" class="col-sm-2 col-form-label" th:text="#{button.name}"></label>
		    <div class="nopadding col-sm-6">
		    	<input type="text" class="form-control" id="name" name="name" th:attr="placeholder=#{button.name.placeHolder}" th:value="${button.name}"/>
		    	<input type="hidden" name="id" th:value="${button.id}"/>
		    </div>
		    <div class="col-sm-4">
		    	<span></span>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="cssClass" class="col-sm-2 col-form-label" th:text="#{button.cssclass}"></label>
		    <div class="nopadding col-sm-6">
		    	<input type="text" class="form-control" id="cssClass" name="cssClass" th:attr="placeholder=#{button.cssclass.placeHolder}" th:value="${button.cssClass}"/>
		    </div>
		    <div class="col-sm-4">
		    	<span></span>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="url" class="col-sm-2 col-form-label" th:text="#{button.url}"></label>
		    <div class="nopadding col-sm-6">
		    	<input type="text" class="form-control" id="url" name="url" th:attr="placeholder=#{button.url.placeHolder}" th:value="${button.url}"/>
		    </div>
		    <div class="col-sm-4">
		    	<span></span>
		    </div>
		  </div>
          <div class="row">
			    <div class="col-sm-3 col-sm-offset-5">
			    	<button id="submit" type="submit" class="btn btn-primary glyphicon glyphicon-ok black" th:inline="text"> [[#{common.submit}]]</button>
		  			<button type="reset" class="btn btn-primary glyphicon glyphicon-repeat" th:inline="text"> [[#{common.reset}]]</button>
		  			<button id="goBack" type="button" class="btn btn-primary glyphicon glyphicon-share-alt" th:inline="text"> [[#{common.goBack}]]</button>
			    </div>
			</div>
		</form>
        <br/>
  </body>
  	<script type="text/javascript" th:inline="javascript">
  	
  	$(function () {
        $('#buttonEditForm').validate({
        	debug: true,
        	onfocusout: true,
        	rules: {
				name: {
					required: true,
					minlength: 2,
					maxlength: 100
				},
				cssClass: {
					required: true
				},
				url:{
					required: true
				}
			},
			messages: {
				name: {
					required: [[#{validation.button.name.required}]],
					minlength: [[#{validation.button.name.minlength}]],
					maxlength: [[#{validation.button.name.minlength}]]
				},
				cssClass: [[#{validation.button.cssclass.required}]],
				url: [[#{validation.button.url.required}]]
			},
			errorPlacement: function(error, element) {
				var nextElement = element.parent().parent().find(".col-sm-4").find("span");
			    error.addClass("text-danger").insertAfter(nextElement);
			},
			submitHandler:function(form){
				Shaunz.submitForm(form,'./button','PUT');
			}
  		});
        
        $('#goBack').click(function(){
        	Shaunz.load('./button/button_lst.html');
        });
        $('#header').click(function(){
        	Shaunz.load('./button/button_lst.html');
        });
    });
	</script>
</html>
