<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shaunz.transfersystem.web.transferq.dao.TransferQueueMapper">
  <resultMap id="BaseResultMap" type="com.shaunz.transfersystem.web.transferq.entity.TransferQueue">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="vehicle_id" jdbcType="VARCHAR" property="vehicleId" />
    <result column="departure_place" jdbcType="VARCHAR" property="departurePlace" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="departure_time" jdbcType="TIMESTAMP" property="departureTime" />
    <result column="capacity" jdbcType="VARCHAR" property="capacity" />
    <result column="close_flg" jdbcType="VARCHAR" property="closeFlg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, vehicle_id, departure_place, destination, register_time, departure_time, capacity, 
    close_flg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_transfer_q
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_transfer_q
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shaunz.transfersystem.web.transferq.entity.TransferQueue">
    insert into tb_transfer_q (id, vehicle_id, departure_place, 
      destination, register_time, departure_time, 
      capacity, close_flg)
    values (#{id,jdbcType=VARCHAR}, #{vehicleId,jdbcType=VARCHAR}, #{departurePlace,jdbcType=VARCHAR}, 
      #{destination,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP}, #{departureTime,jdbcType=TIMESTAMP}, 
      #{capacity,jdbcType=VARCHAR}, #{closeFlg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shaunz.transfersystem.web.transferq.entity.TransferQueue">
    insert into tb_transfer_q
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vehicleId != null">
        vehicle_id,
      </if>
      <if test="departurePlace != null">
        departure_place,
      </if>
      <if test="destination != null">
        destination,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="departureTime != null">
        departure_time,
      </if>
      <if test="capacity != null">
        capacity,
      </if>
      <if test="closeFlg != null">
        close_flg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="vehicleId != null">
        #{vehicleId,jdbcType=VARCHAR},
      </if>
      <if test="departurePlace != null">
        #{departurePlace,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="departureTime != null">
        #{departureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="capacity != null">
        #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="closeFlg != null">
        #{closeFlg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shaunz.transfersystem.web.transferq.entity.TransferQueue">
    update tb_transfer_q
    <set>
      <if test="vehicleId != null">
        vehicle_id = #{vehicleId,jdbcType=VARCHAR},
      </if>
      <if test="departurePlace != null">
        departure_place = #{departurePlace,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="departureTime != null">
        departure_time = #{departureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="capacity != null">
        capacity = #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="closeFlg != null">
        close_flg = #{closeFlg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shaunz.transfersystem.web.transferq.entity.TransferQueue">
    update tb_transfer_q
    set vehicle_id = #{vehicleId,jdbcType=VARCHAR},
      departure_place = #{departurePlace,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      departure_time = #{departureTime,jdbcType=TIMESTAMP},
      capacity = #{capacity,jdbcType=VARCHAR},
      close_flg = #{closeFlg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>