<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="https://www.pollix.at/thymeleaf/shiro">
  <body>
  		<h2 class="sub-header" th:text="#{driver.title}"></h2>
  		<div class="row">
        	<div class="col-sm-3 col-md-2"><button class="btn btn-md btn-primary glyphicon glyphicon-plus" onClick="openAddPage()" th:inline="text"> [[#{common.new}]]</button></div>
        </div>
        <br/>
        <div class="table-responsive">
          <table id="table" class="table table-striped" style="width:100%">
          </table>
        </div>
  </body>
  	<script type="text/javascript" th:inline="javascript">
		var TableParam = {
				header:['#',[[#{driver.name}]],[[#{driver.gender}]],[[#{driver.phoneNumber}]],[[#{driver.driveLicenseNumber}]],[[#{driver.drivingYears}]]],
				column:['id','name','gender','phoneNumber','driveLicenseNumber','drivingYears'],
				translate:['gender'],
				url:'./driver',
				httpType:'GET',
				target:'table',
				operations:{
					'detail':function(obj){
						Shaunz.showDetail('24',obj.data.id);
					},
					'edit':function(obj){
						Shaunz.load("./author/author_edit.html?id="+obj.data.id);
					},
					'delt':function(obj){
						$.confirm({
						    title: 'Delete ' + obj.data.aliasNm +' ?',
						    autoClose: 'cancelAction|8000',
						    buttons: {
						        deleteUser: {
						            text: 'Delete',
						            action: function () {
						            	Shaunz.ajaxRequest(null,'./driver/'+obj.data.id,'DELETE');
										Shaunz.load("./driver/driver_lst.html");
						            }
						        },
						        cancelAction: function () {
						        	
						        }
						    }
						});
					}
				}
		};
		$(function(){
			Shaunz.generateTable(TableParam);
		});
		
		openAddPage = function(){
			Shaunz.load("./driver/driver_add.html");
		}
		
	</script>
</html>
