<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="common/header::html"></div>
    <link href="../../static/webresources/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/webresources/css/bootstrap.min.css}">
    <link href="../../static/webresources/projectResources/css/carousel.css" rel="stylesheet" type="text/css" th:href="@{/webresources/projectResources/css/carousel.css}">
</head>
<body>
	<div class="navbar-wrapper">
	  <div class="container">
	    <div th:replace="common/navBar::html"></div>
	    <div class="row">
	      <div class="col-sm-8 blog-main">
	      	<th:block th:each="blog : ${blogs}">
		    	<th:block th:if="${blog.headerType eq 'h1'}">
		    		<h1 class="blog-title" th:text="${blog.header}"></h1>
		    	</th:block>
		    	<th:block th:if="${blog.headerType ne 'h1'}">
		    		<h3 class="blog-post-title" th:text="${blog.header}"></h3>
		    	</th:block>
		    	<th:block th:if="${blog.postTime != null}">
		    		<p class="blog-post-meta" th:text="${blog.postTime}">
		    		<th:block th:if="${blog.author.aliasNm != null}">
		    			 by <a href="#" th:text="${blog.author.aliasNm}">Admin</a>
		    		</th:block>
		    	</th:block>
		    	<p th:utext="${blog.content}"></p>
	   		</th:block>
	      </div>
	      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	        <div class="sidebar-module sidebar-module-inset">
	          <h4>About</h4>
	          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
	        </div>
	        <div class="sidebar-module">
	          <h4>Archives</h4>
	          <ol class="list-unstyled">
	            <li><a href="#">March 2014</a></li>
	            <li><a href="#">February 2014</a></li>
	            <li><a href="#">January 2014</a></li>
	            <li><a href="#">December 2013</a></li>
	            <li><a href="#">November 2013</a></li>
	            <li><a href="#">October 2013</a></li>
	            <li><a href="#">September 2013</a></li>
	            <li><a href="#">August 2013</a></li>
	            <li><a href="#">July 2013</a></li>
	            <li><a href="#">June 2013</a></li>
	            <li><a href="#">May 2013</a></li>
	            <li><a href="#">April 2013</a></li>
	          </ol>
	        </div>
	        <div class="sidebar-module">
	          <h4>Elsewhere</h4>
	          <ol class="list-unstyled">
	            <li><a href="#">GitHub</a></li>
	            <li><a href="#">Twitter</a></li>
	            <li><a href="#">Facebook</a></li>
	          </ol>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container">
		<div th:replace="common/copyright::html"></div>
	</div>
</body>
</html>