<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="https://www.pollix.at/thymeleaf/shiro">
  <head>
    <div th:replace="common/header::html"></div>
    <link href="../../static/webresources/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{webresources/css/bootstrap.min.css}">
    <link href="../../static/webresources/projectResources/css/dashboard.css" rel="stylesheet" type="text/css" th:href="@{webresources/projectResources/css/dashboard.css}">
    <link href="../../static/webresources/css/bootstrap-treeview.min.css" rel="stylesheet" type="text/css" th:href="@{webresources/css/bootstrap-treeview.min.css}">
    <link href="../../static/webresources/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{webresources/css/dataTables.bootstrap.min.css}">
    <link href="../../static/webresources/css/select.dataTables.min.css" rel="stylesheet" type="text/css" th:href="@{webresources/css/select.dataTables.min.css}">
    <link href="../../static/webresources/css/dataTables.checkboxes.css" rel="stylesheet" type="text/css" th:href="@{webresources/css/dataTables.checkboxes.css}">
    <link href="../../static/webresources/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" th:href="@{webresources/css/bootstrap-datetimepicker.min.css}">
    <link href="../../static/webresources/css/jquery-confirm.min.css" rel="stylesheet" type="text/css" th:href="@{webresources/css/jquery-confirm.min.css}">
    <link href="../../static/webresources/css/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" th:href="@{webresources/css/bootstrap3-wysihtml5.min.css}">
    <link href="../../static/webresources/css/image-picker.css" rel="stylesheet" type="text/css" th:href="@{webresources/css/image-picker.css}">
    <link href="../../static/webresources/css/shaunz.css" rel="stylesheet" type="text/css" th:href="@{webresources/css/shaunz.css}">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" th:href="${application.homePageObject.homeUrl}" text:inline="text"><i class="glyphicon glyphicon-home"></i> [[${application.homePageObject.projectNm}]]</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a id="Dashboard" href="#"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
            <li></i><a id="userInterface" href="#"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search..." readonly="readonly">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar nopadding">
        	<div id="TreeMenu"></div>
        	<div></div>
        </div>
        <div id="FeatureContainer" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
        <div id="userSettings" class="settings" style="display:none">
        	<div class="container-fluid">
        		<div class="row col-sm-offset-2 col-md-offset-3"><i class="glyphicon glyphicon-user gi-5x"></i></div>
        		<div class="row col-sm-offset-2 col-md-offset-3">
        			<div id="userName" class="gi-2x"></div>
        		</div>
        		<br/>
        		<br/>
        		<br/>
        		<div class="row">
        			<div class="row">
	        			<a href="#"><i class="glyphicon glyphicon-edit"></i> Profile</a>
				        <br/>
				        <br/>
				        <a href="#"><i class="glyphicon glyphicon-lock"></i> Change Password</a>
				        <br/>
				        <br/>
				        <br/>
				        <br/>
				        <br/>
				        <br/>
	        			<a href="./signout"><i class="glyphicon glyphicon-log-out"></i> SignOut</a>
			        </div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
    <div th:replace="common/jsReference::html"></div>
	<script type="text/javascript" > 
		$('document').ready(function(){
			$.ajax({
				   url: './functions',
				   type: 'GET',
				   success: function(data,status) {
					   $('#TreeMenu').treeview(jQuery.parseJSON(data));
					   $('#TreeMenu').treeview('collapseAll', { silent: true });
				   },
				   error: function(e) {
					   console.log(e);
				   }
				});
			Shaunz.load('./mngpages/dashboard.html');
			var usrNm;
			$.ajax({
				url:'./crrentUser',
				type:'GET',
				success: function(data,status) {
					   var result = jQuery.parseJSON(data);
					   usrNm = result.aliasNm;
					   $('#userInterface').html('<i class="glyphicon glyphicon-user"></i> '+usrNm+' <i class="glyphicon glyphicon-chevron-down"></i>');
					   $('#userName').append(usrNm);
			   	},
			    error: function(e) {
				   console.log(e);
			    }
			});
			$('#userSettings').hide();
			$('#userInterface').click(function(){
				if($('#userSettings').is(":visible")){
					$('#userSettings').fadeOut("slow");
					$('#userInterface').html('<i class="glyphicon glyphicon-user"></i> '+usrNm+' <i class="glyphicon glyphicon-chevron-down"></i>');
				} else {
					$('#userSettings').fadeIn("slow");
					$('#userInterface').html('<i class="glyphicon glyphicon-user"></i> '+usrNm+' <i class="glyphicon glyphicon-chevron-up"></i>');
				}
			});
			$('#Dashboard').click(function(){
				Shaunz.load('./mngpages/dashboard.html');
			});
		});
	</script>
  </body>
</html>
