<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shaunz.transfersystem.web.driver.dao.DriverMapper">
  <resultMap id="BaseResultMap" type="com.shaunz.transfersystem.web.driver.entity.Driver">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="day_of_birth" jdbcType="TIMESTAMP" property="dayOfBirth" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="drive_license_number" jdbcType="VARCHAR" property="driveLicenseNumber" />
    <result column="driving_years" jdbcType="VARCHAR" property="drivingYears" />
    <result column="close_flg" jdbcType="VARCHAR" property="closeFlg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, gender, day_of_birth, phone_number, id_number, drive_license_number, driving_years, 
    close_flg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_driver
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_driver
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shaunz.transfersystem.web.driver.entity.Driver">
    insert into tb_driver (id, name, gender, 
      day_of_birth, phone_number, id_number, 
      drive_license_number, driving_years, close_flg
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{dayOfBirth,jdbcType=TIMESTAMP}, #{phoneNumber,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, 
      #{driveLicenseNumber,jdbcType=VARCHAR}, #{drivingYears,jdbcType=VARCHAR}, #{closeFlg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shaunz.transfersystem.web.driver.entity.Driver">
    insert into tb_driver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="dayOfBirth != null">
        day_of_birth,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="driveLicenseNumber != null">
        drive_license_number,
      </if>
      <if test="drivingYears != null">
        driving_years,
      </if>
      <if test="closeFlg != null">
        close_flg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="dayOfBirth != null">
        #{dayOfBirth,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="driveLicenseNumber != null">
        #{driveLicenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="drivingYears != null">
        #{drivingYears,jdbcType=VARCHAR},
      </if>
      <if test="closeFlg != null">
        #{closeFlg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shaunz.transfersystem.web.driver.entity.Driver">
    update tb_driver
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="dayOfBirth != null">
        day_of_birth = #{dayOfBirth,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="driveLicenseNumber != null">
        drive_license_number = #{driveLicenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="drivingYears != null">
        driving_years = #{drivingYears,jdbcType=VARCHAR},
      </if>
      <if test="closeFlg != null">
        close_flg = #{closeFlg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shaunz.transfersystem.web.driver.entity.Driver">
    update tb_driver
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      day_of_birth = #{dayOfBirth,jdbcType=TIMESTAMP},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      drive_license_number = #{driveLicenseNumber,jdbcType=VARCHAR},
      driving_years = #{drivingYears,jdbcType=VARCHAR},
      close_flg = #{closeFlg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="queryList" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from tb_driver
    where close_flg = 'N' order by CAST(id AS integer) asc
  </select>
</mapper>